@{
    ViewBag.Title = "Home Page";
}
<script src="~/angularScripts/script1.js"></script>
<div ng-controller="firstController">
    {{22/7}} <br />
    {{name}}
    <button ng-click="searchGit()">Get Git</button>
    {{error}}
    {{user.name }}

    {{22/7}}
</div>
